<div class="app-layout">
  <!-- Sidebar -->
  <div class="sidebar shadow"[class.collapsed]="isCollapsed">
    <div class="sidebar-top">
      <div class="logo">
        <span *ngIf="!isCollapsed">ThaWallet</span>
        <span *ngIf="isCollapsed" class="me-1">TW</span>
      </div>
      <button class="toggle-btn" (click)="toggleSider()">
        <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
      </button>
    </div>

    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item (click)="goToHome()" class="list-item">
        <span nz-icon nzType="home"></span>
        <span *ngIf="!isCollapsed">Dashboard</span>
      </li>
      <li nz-menu-item (click)="goToProfile()" class="list-item">
        <span nz-icon nzType="user"></span>
        <span *ngIf="!isCollapsed">Perfil</span>
      </li>
      <li nz-menu-item (click)="goToAccounts()" class="list-item">
        <span nz-icon nzType="bank"></span>
        <span *ngIf="!isCollapsed">Contas</span>
      </li>
      <li nz-menu-item (click)="logout()" class="list-item">
        <span nz-icon nzType="logout"></span>
        <span *ngIf="!isCollapsed">Sair</span>
      </li>
    </ul>
  </div>

  <!-- Conteúdo principal -->
  <div class="main-content" [class.sidebar-collapsed]="isCollapsed">
    <router-outlet></router-outlet>
  </div>
</div>